## Connection Parameters
| Parameter | Type | Description |
|-----------|------|-------------|
{{#each .}}
{{#ifType type}}
|{{../uiDefinition.displayName}} | {{../type}} | {{../uiDefinition.description}}|
{{else}}
{{/ifType}}
{{/each}}