<img src="icon.png" alt="Icon" data-linktype="relative-path" height="100" width="100">

# {{swaggerDoc.title}}{{#if_cond swaggerDoc.status '===' 'Preview'}} ({{swaggerDoc.status}}){{/if_cond}}

{{#if swaggerDoc.version}}
v{{swaggerDoc.version}}

{{/if}}
{{swaggerDoc.description}}

{{#if_cond connectionParameters '||' customSection}}
## Creating a connection

{{/if_cond}}
{{#if customSection }}
{{customSection}}

{{/if}}
{{#if connectionParameters}}
{{> connectionParameters connectionParameters}}

{{/if}}

{{#if swaggerDoc.actions.length}}
# Actions

{{#each swaggerDoc.actions}}
{{> operation this}}

___

{{/each}}
{{/if}}
{{#if swaggerDoc.triggers.length}}
# Triggers

{{#each swaggerDoc.triggers}}
{{> operation this}}

___

{{/each}}
{{/if}}

{{#if swaggerDoc.definitions}}
## Objects
{{#each swaggerDoc.definitions}}

### {{@key}}
{{this.description}}

{{#if properties.length}}
| Summary | Type | Description | Path |
|---------|------|-------------|------|
{{#each properties}}
| {{summary}} | {{type}} | {{description}} | {{path}} |
{{/each}}
{{else}}
| Summary | Type | Description |
|---------|------|-------------|
{{#with singleSchema}}
| {{summary}} | {{type}} | {{description}} |
{{/with}}
{{/if}}
{{/each}}
{{/if}}

## Limits
{{> throttling limits}}

{{#if swaggerDoc.customLinks.length}}
## Using this integration
{{#each swaggerDoc.customLinks}}
- [{{description}}]({{url}})
{{/each}}
{{/if}}
