![Icon](icon.png)

{{#with swagger.info}}
# {{title}}

{{#if_eq x-ms-api-annotation.status "Preview"}}
{{x-ms-api-annotation.status}}

{{/if_eq}}
{{#if version}}
v{{version}}

{{/if}}
{{description}}
{{/with}}

{{#if connectionParameters}}
## Creating a connection
{{#if customSection }}
{{customSection}}

{{/if}}
{{> connectionParameters connectionParameters}}
{{/if}}

{{#with swagger}}
# Actions

{{#each paths}}
{{#each this}}
{{#if this.x-ms-trigger}}{{else}}
{{#if_eq x-ms-visibility 'internal'}}
{{else}}
{{> operation this}}
___
{{/if_eq}}
{{/if}}
{{/each}}
{{/each}}

# Triggers

{{#each paths}}
{{#each this}}
{{#if this.x-ms-trigger}}
{{#if_eq x-ms-visibility 'internal'}}
{{else}}
{{> operation this}}
___
{{/if_eq}}
{{/if}}
{{/each}}
{{/each}}

## Objects
{{#each definitions}}
{{#if_eq this.x-ms-visibility "internal"}}
{{else}}

### {{@key}}
{{this.description}}

{{> schema this}}
{{/if_eq}}
{{/each}}
{{/with}}

## Limits
{{> throttling policy}}

{{#if swagger.x-ms-docs.length}}
## Using this integration
{{#each swagger.x-ms-docs}}
- [{{description}}]({{url}})
{{/each}}
{{/if}}
