![Icon](icon.png)

{{#with swagger.info}}
# {{title}}

{{#if_eq x-ms-api-annotation.status "Preview"}}
{{x-ms-api-annotation.status}}

{{/if_eq}}
{{#if version}}
v{{version}}

{{/if}}
{{description}}
{{/with}}

{{#if connectionParameters}}
## Creating a connection
{{#if customSection }}
{{customSection}}

{{/if}}
{{> connectionParameters connectionParameters}}
{{/if}}

{{#with swagger}}
# Actions
___
{{#each paths}}
{{#each this}}
{{#if this.x-ms-trigger}}{{else}}
{{> operation this}}
___
{{/if}}
{{/each}}
{{/each}}

# Triggers
___
{{#each paths}}
{{#each this}}
{{#if this.x-ms-trigger}}
{{> operation this}}
___
{{/if}}
{{/each}}
{{/each}}

## Objects
{{#each definitions}}
{{#if_eq this.x-ms-visibility "internal"}}
{{else}}

### {{@key}}
{{this.description}}

{{> schema this}}
{{/if_eq}}
{{/each}}
{{/with}}

## Throttling
{{> throttling policy}}
