
## {{summary}}
{{description}}

**Operation Id:** {{operationId}}

#### Parameters
{{#if parameters.length}}
| Summary | Type | Description | Required |
|---------|------|-------------|----------|
{{#each parameters}}
{{#if schema}}
{{#if schema.$ref}}
| {{x-ms-summary}} | {{refToLink schema.$ref}} | {{description}} | {{required}} |
{{else}}
| {{x-ms-summary}} | {{schema}} | {{description}} | {{required}} |
{{/if}}
{{else}}
| {{x-ms-summary}} | {{#if format}} {{format}} {{else}} {{type}} {{/if}} | {{description}} | {{required}} |
{{/if}}
{{/each}}
{{else}}
This operation does not require any input.
{{/if}}

#### Returns
{{#each responses}}
{{#if @first}}
{{#if this.schema}}
{{> schema this.schema}}
{{else}}
This operation does not return anything.
{{/if}}
{{/if}}
{{/each}}
