## {{summary}}
{{description}}

**Operation Id:** {{operationId}}

#### Parameters
{{#if parameters.length}}
| Summary | Type | Description | Required |
|---------|------|-------------|----------|
{{#each parameters}}
| {{summary}} | {{type}} | {{description}} | {{required}} |
{{/each}}
{{else}}
This operation does not require any input.
{{/if}}

#### Returns
{{#with response}}
{{#if reference}}
| Summary | Type | Description |
|---------|------|-------------|
{{#with reference}}
| {{summary}} | {{type}} | {{description}} |
{{/with}}
{{else}}
{{#if properties.length}}
| Summary | Type | Description | Path |
|---------|------|-------------|------|
{{#each properties}}
| {{summary}} | {{type}} | {{description}} | {{path}} |
{{/each}}
{{else}}
{{#if isDynamic}}
The outputs of this operation are dynamic.
{{/if}}
{{/if}}
{{/if}}
{{else}}
This operation does not return anything.
{{/with}}