{{#if $ref}}
| Summary | Type | Description |
|---------|------|-------------|
| {{refToLink $ref}} | {{> schema-type this}} | {{description}} |
{{else}}
{{#if_cond type '===' 'object'}}
{{#if_empty properties}}
{{else}}
| Summary | Type | Description |
|---------|------|-------------|
{{#each properties}}
{{#if_cond x-ms-visibility '===' 'internal'}}
{{else}}
| {{x-ms-summary}} | {{> schema-type this}} | {{description}} |
{{/if_cond}}
{{/each}}
{{/if_empty}}
{{/if_cond}}
{{/if}}
{{#if_cond type '===' 'array'}}
| Summary | Type | Description |
|---------|------|-------------|
| {{x-ms-summary}} | {{> schema-type this}} | {{description}} |
{{/if_cond}}