{{#if_cond connections '||' calls.length}}
## Limits
{{#if connections}}
Connections per account: **{{connections}}**

{{/if}}
{{#if calls.length}}
| Name | Calls | Renewal Period |
|------|-------|----------------|
{{#each calls}}
| {{name}} | {{calls}} | {{renewal-period}} seconds |
{{/each}}
{{/if}}
{{/if_cond}}
